<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Evolutionary Signature of Intrinsically Disordered Regions">
    <title>Evolutionary Signature Display</title>
 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <style>  a:link {text-decoration: none;}
      </style>
</head>
<body>


<div class="header">
  <a href="{{ url_for('index') }}"><h1>Evolutionary Signature of Intrinsically Disordered Regions</h1></a>

</div>

<div class="topnav">
   <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('about') }}">About</a>
  <a href="{{ url_for('contact') }}">Contact</a>
</div>

<div class="row">
  <div class="column side">
  <a href="{{ url_for('index') }}"<button class="button grad">SEARCH</button></a>
  <form action="{{ url_for('static', filename='construction.html') }}">
  <button class="button grad">CLUSTER</a></button>
  </form>
  <form action="{{ url_for('static', filename='construction.html') }}">
  <button class="button grad">TURORIAL</button>
  </form>
  <form action="{{ url_for('static', filename='construction.html') }}">
  <button class="button grad">FAQ</button>
  </form>
  <form action="{{ url_for('static', filename='construction.html') }}">
  <button class="button grad">DOWNLOAD</button>
  </form>
  </div>
  
  <div class="column right " style="padding:5px">
    <div class=row >
        <div class="body">
	<h2b>Evolutionary signature of {{name}}</h2b>
	<hr size="3" noshade>
    </div>

        <img src="{{ url_for('static', filename='image/sighpro'+gid+'.png') }}";	style="width: 400px;
                   float:left;padding:0px;margin:35px" alt="sighpro.png"> 

       <div class=row padding:25px;>
		<p>  Evolutionary signature is a measure of to what extent some molecular features of this intrinsically disordered regions are under selection in evolution, thus imply the functions of the IDR.
		</p>
		<p> The measure is a deviation of actual molecular feartures in this IDR to that of simulated evolution of the IDR, calculated as z-scores.
		</p> 	
		
		<p>For 82 features, z-scores for both deviation of mean and log-variance values are calculated, a total of 164 z-scores comprise the evolutonary signature of the IDR.
		</p>
                <p>IDRs can be compared for their similarities of evolutionary signature, please see "Similar IDRs" below.</p> 
	</div>
    <br>

   <div class=row >
        <div class="body">
	<h2b>Details of Signature Z-scores of Every Group</h2b>
	<hr size="3" noshade>
    </div>

  <div>

        <img src="{{ url_for('static', 
                   filename='image/sighdiv'+gid+'g'+group+'.png') }}"style="width: 400px;float:left;
                   padding:0;margin:35px;"alt="sigbar.png">
   </div>
    <br>

   <div class="row" >

   <p>The left plot shows detailed z-score values for one molecular feature group. To see another 
      group, choose from one of the following:</p>




   <form action="/hsearch" method="post" >
   <input  type="radio" name="group"  value="{{name}},1">Mean Charge properties</input><br>
   <input  type="radio" name="group"  value="{{name}},2">Mean Amino Acid Fraction</input><br>
   <input  type="radio" name="group"  value="{{name}},3">Mean Motifs</input><br>
   <input  type="radio" name="group"  value="{{name}},4">Mean Repeats</input><br>
   <input  type="radio" name="group"  value="{{name}},5">Mean Phaseseparation</input><br>
   <input  type="radio" name="group"  value="{{name}},6">Mean Physicochemical properties</input><br>
   <input  type="radio" name="group"  value="{{name}},7">Variance Charge properties</input><br>
   <input  type="radio" name="group"  value="{{name}},8">Variance Amino Acid Fraction</input><br>
   <input  type="radio" name="group"  value="{{name}},9">Variance Motifs</input><br>
   <input  type="radio" name="group"  value="{{name}},12">Variance Physicochemical properties</input><br>
   <br>
   <input type="submit" name="submit_button" value="Submit">
   </form>
 </div>
    <br>

    <div class=row >
        <div class="body">
	<h2b>Signature Profile by Groups</h2b>
	<hr size="3" noshade>
    </div>
	
	<img src="{{ url_for('static', filename='image/sighbar'+gid+'.png') }}";	
              style="width: 650px;     float:left;padding:0px;margin:15px" alt="sigbar.png"> 
   
        <div class=row padding:5px; float:left>
        <p>Signature Absolute Values Sorted by Group for this IDR (top 5 z-score barplot for every groups).</p>
        <p>The 82 molecular features included are divided into 5 categories(groups):<br> amino acid contents,<br>
 charge properties,<br> motifs,<br> repeats and complexity,<br> physicochemical properties.<br> <br>For the 5 categories, both deviation of mean and log-variance values are calculated.
        </p>

        </div> 
  <br>
  <br>
   <div class=row>
        <div class="body">
	<h2b>Similar IDRs</h2b>
	<hr size="3" noshade>
    </div>
  <p>The 10 IDRs most similar to this IDR({{name}}) in terms of evolutionary signature are listed below, choose one to see their z-scores:
   <form target="_blank" action="/hsearch" method="post" >
   <input  type="radio" name="simi"  value="{{ simi[0] }}">{{simi[0]}},  &nbsp &nbsp    protein common name:  {{ simicom[0] }}</input><br>
   <input  type="radio" name="simi"  value="{{ simi[1] }}">{{simi[1]}},  &nbsp &nbsp  protein common name:  {{ simicom[1] }}</input><br>
   <input  type="radio" name="simi"  value="{{ simi[2] }}">{{simi[2]}},  &nbsp &nbsp  protein common name:  {{ simicom[2] }}</input><br>
   <input  type="radio" name="simi"  value="{{ simi[3] }}">{{simi[3]}},  &nbsp &nbsp  protein common name:  {{ simicom[3] }}</input><br>
   <input  type="radio" name="simi"  value="{{ simi[4] }}">{{simi[4]}},  &nbsp &nbsp  protein common name:  {{ simicom[4] }}</input><br>
   <input  type="radio" name="simi"  value="{{ simi[5] }}">{{simi[5]}},  &nbsp &nbsp   protein common name:  {{ simicom[5] }}</input><br>
   <input  type="radio" name="simi"  value="{{ simi[6] }}">{{simi[6]}},  &nbsp &nbsp  protein common name:  {{ simicom[6] }}</input><br>
   <input  type="radio" name="simi"  value="{{ simi[7] }}">{{simi[7]}},  &nbsp &nbsp  protein common name:  {{ simicom[7] }}</input><br>
   <input  type="radio" name="simi"  value="{{ simi[8] }}">{{simi[8]}},  &nbsp &nbsp  protein common name:  {{ simicom[8] }}</input><br>
   <input  type="radio" name="simi"  value="{{ simi[9] }}">{{simi[9]}},  &nbsp &nbsp  protein common name:  {{ simicom[9] }}</input><br>
   <br>
   <input  type="submit" name="submit_simi" value="Submit">
   </form>

  </div>



 
</div>

  </div>  
  
  


</div>

<div class="footer">
  <p>Alan Moses' Lab © 2019</p>
  <h1b>Links:</h1b><br>
  <a target=blank href="http://www.moseslab.csb.utoronto.ca/">Moses Lab</a>
</div>
</body>

</div>

</html>
