{% extends "base.html" %}

    {% block title %}Index{% endblock %}
    {% block body %}

    <form action="/" method="post">
    <p>1, Select a dataset:
       <select name=dataset>
       <option>Yeast</option>
       <option>Human</option>
       </select></p>
    <p>AND</p>
    
    <p>2, Enter a protein common name/gene name: <input id='common_name' type="text" name="cid" size="24"></textarea>
    </p> 
    <p>OR</p>
    <p>Enter a protein systematic name/Uniprot ID: <input id='systematic_id' type="text" name="sid" size="24"></textarea></p> 
    <p>OR</p>

    <p>Enter an IDR name: <input id='IDR_name' type="text" name="idrname" size="24"></textarea></p>


    <input type="submit" name=submit value="Go!">
    </form>

    {% endblock %}
{% block side %}  
    <h2>Search</h2>
    <p>Evolutionary signature describe how far a collection of molecular features of intrinsically disordered regions deviated from simulated evolution, thus give clues of their functions. Input IDR you like to search and see visualized evolutionary signatures. </p>
    {% endblock %}

    {% block side2 %}  
    <h2>Paper Citation</h2>
    <p>Zarin, T., Strome, B., Ba, A. N. N., Alberti, S., Forman-Kay, J. D., & Moses, A. M. (2019). Proteome-wide signatures of function in highly diverged intrinsically disordered regions. eLife 2019;8:e46883. doi: 10.1101/578716</p>
    {% endblock %}
 
