{% extends "base.html" %}
{% block title%}Contact
{% endblock %}
{% block body%}
<h2>Contact us</h2>
<p>The Moses Lab is affiliated with the departments of Cell and Systems Biology, Computer Science, and Ecology and Evolutionary Biology at the University of Toronto.</p> 
<p>Our lab is in the Ramsay-Wright Labs (25 Harbord St.), located on the southwest side of the St. George Campus. To contact Alan or other lab members, please visit the People page in Moses Lab website.</p>
<p>Links:</p><br>
  <a target=blank href="http://www.moseslab.csb.utoronto.ca/">Moses Lab</a>
{% endblock %}

{% block side%}
<h2>Paper Citation</h2>
<p>Zarin, T., Strome, B., Ba, A. N. N., Alberti, S., Forman-Kay, J. D., & Moses, A. M. (2019). Proteome-wide signatures of function in highly diverged intrinsically disordered regions. eLife 2019;8:e46883. doi: 10.1101/578716</p>
{% endblock %}