<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Evolutionary Signatures of Intrinsically Disordered Regions">
	<title>Evolutionary Signature Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<a href="{{ url_for('main.index') }}"><h1>Evolutionary Signatures <span class="shine">of Intrinsically Disordered Regions</span></h1></a>
		</div>
	</header>

	<div class="topnav">
		<div class=container> 
			<a href="{{ url_for('main.index') }}">home</a>
			<a href="{{ url_for('main.about') }}">About</a>
			<a href="{{ url_for('main.contact') }}">Contact</a>
			</div>
	    </div>

	<div class="main">
		<div class="container">
			<div class="column sidenav">
				<form action="{{ url_for('main.index') }}">
				<button class="button grad">SEARCH</button>
				</form>
				<form action="{{ url_for('main.cluster') }}">
				<button class="button grad">CLUSTER</a></button>
				</form>
				<form action="{{ url_for('main.faq') }}">
				<button class="button grad">FAQ</button>
				</form>
				<form action="{{ url_for('main.download') }}">
				<button class="button grad">DOWNLOAD</button>
				</form>
			</div>

			<div class="column right " style="padding:5px">
				<button class="tablink" onclick="openPage('Overview', this,'orange')"id={{default1}}>Overview</button>
				<button class="tablink" onclick="openPage('Group Views', this,'chocolate')">Group Views</button>
				<button class="tablink" onclick="openPage('Details', this, 'lightgreen' )"id={{default2}}>Details</button>
				<button class="tablink" onclick="openPage('Similar IDRs', this, 'lightcoral')">Similar IDRs</button>
				<button class="tablink" onclick="openPage('ZFplot', this, 'lightblue')" id={{default3}}>ZFplot</button>

				<div id="Overview" class="tabcontent">
					<div>
						<p style="font-size: 20px;font-weight: 300;">Evolutionary signature of {{name}} in dataset " {{datasetname}} " 
						<a href="https://www.uniprot.org/uniprot/{{sys}}" target="_blank"><span style="font-size:15px">Link to Uniprot page for this protein</span></a></p>
						<hr size="3" noshade>
					</div>

					<img src="{{ url_for('static', filename='image/sigpro'+gid+'.png') }}";	style="width: 600px;
										float:left;padding:0px;margin:5px" alt="sigpro.png">
				
					<div class="column side">
						<p> Evolutionary signatures describe the extent to which molecular features of intrinsically disordered regions deviate from our null expectation in their evolution. 
						If a molecular feature deviates in its evolution from our null expectation, we predict it is under selection, and thus may be important for the function of the IDR 
						in question. Evolutionary signatures can be used as a tool to generate hypotheses about molecular features that could be important for the function of individual IDRs.
						<a href="{{ url_for('main.faq')}}" target="_blank" style="color:aqua">(More on FAQ)</a></p>
					</div>	

					<div class=column full>
						<h2> Explore in steps: </h2>
							<ol>
								<li> Get an overview of all Z-scores, and find values of features that might be interesting to you.</li>
								<li> Click "Groupview" tab to see sorted top features by groups of molecular features. View details of Z-scores in every group in the "Details" tab. </li>
								<li> Find other IDRs with similar evolutionary signatures.</li>
								<li>In "ZFplot" tab view the ZScore - Molecular Feature scatter plot, that identifying molecular features for IDR function using FAIDR method</li>
							</ol>
					</div>
				</div>

				<div id="Group Views" class="tabcontent">
					<p style="font-size: 20px;font-weight: 300;">Sorted Top ZScore Absolute Values for Every Group</p>
						<hr size="3" noshade>

					<img src="{{ url_for('static', filename='image/sigbar'+gid+'.png') }}";
						style="width: 600px;     float:left;padding:0px;margin:15px" alt="sigbar.png">

					<div class="column side">
						<p>Evolutionary signature values (absolute value) sorted by molecular feature group for this IDR (top 5 Z-score absolute values barplot for every group).</p>
						{% for gl in range(group_list.shape[0]) %}
						<li>{{group_list.iloc[gl,0]}}  {{group_list.iloc[gl,2]}} </li>
						{% endfor %}
						<p> See Z-score value for every group in the "Details" tab. </p>
					</div>
				</div>


				<div id="Details" class="tabcontent">
					<p style="font-size: 20px;font-weight: 300;">Details of Signature Z-scores of Every Group</p>
									<hr size="3" noshade>
						<img src="{{ url_for('static',
								filename='image/sigdiv'+gid+'g'+group+'.png') }}"style="width: 500px;float:left;
								padding:0;margin:15px;"alt="zfplot.png">
						<br>

					<div class="column side">
						<h3>Choose other groups</h3>
						<p>The left plot shows detailed z-score values for one molecular feature group. To see another group, choose from one of the following:</p>

						<form action="/search" method="post" >
						{% for gl in range(group_list.shape[0]) %}
								<input  type="radio" name="group"  value="{{name}},{{group_list.iloc[gl,5]}},{{dataset}}">{{group_list.iloc[gl,0]}} {{group_list.iloc[gl,2]}}</input><br>
						{% endfor %}
						<br>
						<input type="submit" name="submit_button" value="Go!">
						</form><br>
						<p>To see what do the molecular feature labels like "DOC_CKS1_1" stand for <a href="{{ url_for('main.table')}}" target="_blank" >refer to the table of molecular features.</a></p>
						
					</div>
				</div>


				<div id="Similar IDRs" class="tabcontent">
					<p style="font-size: 20px;font-weight: 300;">Similar IDRs</p>
						<hr size="3" noshade>
					<div class="column middle">
						<p>The 10 IDRs most similar to this IDR({{name}}) in terms of evolutionary signature are listed below. Choose one to see its evolutionary signature: </p>
						
						<form target="_blank" action="/search" method="post" >
						{%for simiidr in simi %}
							<input  type="radio" name="simi"  value="{{ simiidr.split(";")[0].strip() }},{{dataset}}">{{simiidr.split(";")[0].strip()}},  &nbsp &nbsp  Protein common name: {{simiidr.split(";")[1].strip()}} </input><br>
						{% endfor %}
						<br>
						<input  type="submit" name="submit_simi" value="Go!">
						</form>
					</div>
					<div class="column side" style="width:38%">
						<h3>How are these similar IDRs determined?</h3>
						<p>The most similar IDRs are those with smallest distances to the currently searched IDR. The definition of distance is Pearson correlation between the vectors of all Z-scores that comprise the evolutionary signature.</p>
						<p>To find the most similar IDRs, we calculate the distance between the currently searched IDR and all other IDRs in the dataset. We list the top 10 with the smallest distances.</p>
						<p>The list of most similar IDRs may differ from the adjacent IDRs in a global cluster plot (as in the data available in the “Cluster” section of this website).</p>
					</div>
				</div>
			
			
				<div id="ZFplot" class="tabcontent">
					<p style="font-size: 18px;font-weight: 300;">ZScore - Molecular Feature scatter plot, identifying molecular features for IDR function using FAIDR method</p>
					<hr size="3" noshade>
					<div style="width:100%; float:none">
						<img id='zfplot'src="{{ url_for('static',
								filename='image/zf'+tstats_col+'for'+gid+'.png') }}"style="width: 500px;float:left;
								padding:0;margin:35px;"alt="sigbar.png">
						<br>

						<div class="column side" style="float: left;">
							<h2>ZFplot</h2>
							<p>The ZFplot shows, using FAIDR method, some molecular features are identified as associated with the function annotation. </p>
							<p>ZFplot is a scatter plot showing the correlation of Zscores and statistics of molecular features of this IDR.</p>
							<p>x axis is the T values of the L1 regularized regression coefficients of the molecular features, y axis is the ZScores (evolutionary signatures).</p>

									  
							<br>
							<p>To see what do the molecular feature labels like "DOC_CKS1_1" stand for <a href="{{ url_for('main.table')}}" target="_blank" >refer to the table of molecular features.</a></p>
							<p>To view a preprint of the paper of the FAIDR method, refer to: <a href="https://www.biorxiv.org/content/10.1101/2020.06.23.167361v1", target=blank> here </a>.</p>
						</div>
					</div>
					<div style="width:100%;float:left">
						<div id = "anns_list" style="width:50%;float:left; padding:0px;margin-left:30px; ">
							<div style="border-top: 4px solid #04ACDC;width:50px"></div>
							<h3 style="margin-top:3px">ZFplot for annotated terms</h3>
							<p>Below is a list of the GO terms annotated to this IDR. To see ZFplot of any GO terms annotated to this IDR, choose from one of the following:</p>
							
							<form  action="/search" method="post" >
							{% for ann in anns %}
							<input  type="radio" name="anns"  value="{{gid}},{{ann}},{{dataset}}">{{ann}} </input><br>
							{% endfor %}
							<br>
							<input  type="submit" name="submit_ann" value="Go!">
							</form>
						</div>
							
						<div id ="non_ann_list" style="float:left;padding:0px;margin-left:25px;margin-top:0px; width:35%">
							<div style="border-top: 4px solid #04ACDC;width:50px"></div>
							<h3 style="Margin-top:3px">ZFplot for not annotated terms</h3>
							<p>Although not annotated to this IDR, you can for reference generate ZFplot of any GO terms in our annotation set, choose from one of the following:</p>
					
							<form  action="/search" method="post" >
							<select name="non_ann" >
							{% for non_ann in non_anns %}
							<option value="{{gid}},{{non_ann}},{{dataset}}">{{non_ann}}</option>
							{% endfor %}
						    </select>
						    <br>
							<br>
							<input  type="submit" name="submit_non_ann" value="Go!">
							</form>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<script>
	function openPage(pageName,elmnt,color) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
	    tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablink");
	  for (i = 0; i < tablinks.length; i++) {
	    tablinks[i].style.backgroundColor = "";
	  }
	  document.getElementById(pageName).style.display = "block";
	  elmnt.style.backgroundColor = color;
	}

	var anns_var = []
	{% for ann in anns %}
	anns_var.push('{{ann}}');
	{% endfor %}
	if ({{dataset}} ==0){
		document.getElementById("anns_list").innerHTML = '<strong>ZFplots are not produced for Yeast_elife_2019 dataset, you can search for other dataset to see the plot.</strong> For reference, the above plot is a ZFplot for NADH dehydrogenase [ubiquinone] iron-sulfur protein 3, mitochondrial (in Human disopred3 dataset). ';
		document.getElementById("non_ann_list").style.display = "none";	
		document.getElementById("zfplot").src = "{{ url_for('static',
		                   filename='image/zf6for6972.png') }}";	
	}
	else if (anns_var == undefined || anns_var.length == 0){
		document.getElementById("anns_list").innerHTML = '<strong>This IDR is not annotated to any GO terms in our annotation dataset.</strong> <br /> ZFplot can not be drawn for this IDR specifically, you can search for other IDR to see the ZFplot.<br /><br> But for reference, the above plot is a ZFplot of this IDR for one of the not annotated terms. <br /><br />	You can choose from the right dropdown menu for other not annotated terms.';

				  
	}
	
	document.getElementById("defaultOpen").click();
	</script>

	<div class="footer">
	<p>Alan Moses' Lab © 2019</p>
	<h1b>Links:</h1b><br>
	<a target=blank href="http://www.moseslab.csb.utoronto.ca/">Moses Lab</a>
	</div>
</body>

</html>
